/* *{
    border: 1px solid gold;
} */

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

/* mobile styling */
body{
    margin: 0px;
    background-color: #0E1B4E;

}

h1, p{
    font-family: 'Dosis', sans-serif;
}

h1{
    color: #B32126;
}

p{
    font-size: 0.8em;
    font-weight: bold;
    color: #E3B505;
}

.carousel-gifs iframe{
    width: 100%;
    border-radius: 10px;
    display: none;
}

.carousel-gifs iframe:first-of-type{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E1B4E;
}

.gifButton{
    background-color: #A4E2FF;
    border: none;
    height: 70px;
    width: 150px;
    font-size: 1em;
    border-radius: 12px;
}


.carousel-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-button{
    display: none;
}

.next, .previous{
    background-color: #E3B505;
    color: white;
    border-radius: 60%;
    height: 70px;
    width: 70px;
    text-align: center;
    border: none;
}

/* desktop styling */
@media (min-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carousel-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .carousel-gifs{
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #0E1B4E;
    }



    .carousel-gifs iframe{
        width: 100%;
        border-radius: 10px;
        display: none;
    }

    .carousel-gifs iframe:first-of-type{
        display: block;
    }

    h1, p{
        font-family: 'Dosis', sans-serif;
    }

    p{
        font-size: 1em;
        font-weight: bold;
    }

}



/* .carousel-button{
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    text-align: center;

}

.carousel-button button{
    border-radius: 50%;
} */
