*{
    border: 1px solid gold;
}

/* mobile styling */
.carousel-gifs iframe{
    width: 100%;
    border-radius: 10px;
    display: none;
}

.carousel-gifs iframe:first-of-type{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* desktop styling */
@media (min-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carousel-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .carousel-gifs{
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
    }



    .carousel-gifs iframe{
        width: 100%;
        border-radius: 10px;
        display: none;
    }

    .carousel-gifs iframe:first-of-type{
        display: block;
    }


}



/* .carousel-button{
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    text-align: center;

}

.carousel-button button{
    border-radius: 50%;
} */
